# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
# from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [19]:
path=os.path.join('..','WeatherPy','city_data.csv')
df=pd.read_csv(path)
df1=df.drop(['Unnamed: 0'], axis=1)
df1

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp (f),Wind Speed (mph)
0,cayenne,92,NaN,1583761906,73,6.42,-48.99,79.052,23.26
1,ushuaia,100,NaN,1583761906,96,-84.57,-40.33,-17.428,11.63
2,port alfred,100,NaN,1583761906,95,-87.25,40.27,-44.788,13.89
3,jamestown,75,US,1583761906,85,46.61,-99.28,12.200,10.29
4,cabo san lucas,0,NaN,1583761906,79,11.28,-114.96,80.852,16.89
...,...,...,...,...,...,...,...,...,...
611,brae,98,NaN,1583761960,90,68.36,125.98,-22.648,3.80
612,sept-iles,40,NaN,1583761960,78,-16.62,-124.52,79.592,3.60
613,dandong,0,SA,1583761960,22,28.75,41.47,70.412,6.11
614,slave lake,100,NaN,1583761960,62,53.85,-178.36,31.712,19.15
615,kieta,25,NaN,1583761960,69,76.35,-29.99,-24.628,19.55

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map