# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [63]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
from scipy.stats import linregress


# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
#RESET TO SIZE=1500 BEFORE FINAL COMMIT
lats = np.random.uniform(low=-90.000, high=90.000, size=30)
lngs = np.random.uniform(low=-180.000, high=180.000, size=30)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

28

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [79]:
url = "http://api.openweathermap.org/data/2.5/weather?"

clouds=[]
country=[]
date=[]
humidity=[]
lat=[]
lng=[]
max_temp=[]
wind_speed=[]

# Make a request for each of the indices

for x in range(len(cities)):
    print(f"Making request number: {x} for ID: {cities[x]}")
    

    # Get one of the posts
    weather_response = requests.get(url + "q=" + str(cities[x]) +  "&APPID=" + weather_api_key).json()
    clouds.append(weather_response['clouds']['all'])
    country.append(weather_response['sys']['country'])
    date.append(weather_response['dt'])
    humidity.append(weather_response['main']['humidity'])
    lat.append(weather_response['coord']['lat'])
    lng.append(weather_response['coord']['lon'])
    max_temp.append(weather_response['main']['temp_max'])
    wind_speed.append(weather_response['wind']['speed'])

Making request number: 0 for ID: padang
Making request number: 1 for ID: san patricio
Making request number: 2 for ID: port blair
Making request number: 3 for ID: tottori
Making request number: 4 for ID: hilo
Making request number: 5 for ID: shihezi
Making request number: 6 for ID: punta arenas
Making request number: 7 for ID: albany
Making request number: 8 for ID: esperance
Making request number: 9 for ID: bluff
Making request number: 10 for ID: chalmette
Making request number: 11 for ID: vila
Making request number: 12 for ID: ushuaia
Making request number: 13 for ID: kirtipur
Making request number: 14 for ID: vanimo
Making request number: 15 for ID: resistencia
Making request number: 16 for ID: cherskiy
Making request number: 17 for ID: pierre
Making request number: 18 for ID: yellowknife
Making request number: 19 for ID: vaini
Making request number: 20 for ID: jurado
Making request number: 21 for ID: cuetzalan
Making request number: 22 for ID: lorengau
Making request number: 23 for ID: chuy
Making request number: 24 for ID: christchurch
Making request number: 25 for ID: nikolskoye
Making request number: 26 for ID: cape town
Making request number: 27 for ID: xuddur

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [80]:
report=[','.join(map(str, i)) for i in zip(cities,clouds,country,date,humidity,lat,lng,max_temp,wind_speed)]
report

['padang,81,ID,1583520016,90,-0.95,100.35,293.01,1.62',
 'san patricio,40,MX,1583520033,79,19.22,-104.7,302.15,10.3',
 'port blair,4,IN,1583520033,80,11.67,92.75,300.11,4.58',
 'tottori,46,JP,1583520034,68,35.5,134.23,276.71,1.71',
 'hilo,40,US,1583519927,73,19.73,-155.09,296.15,2.1',
 'shihezi,96,CN,1583520034,82,44.3,86.03,275.61,2.73',
 'punta arenas,75,CL,1583520034,76,-53.15,-70.92,291.15,5.7',
 'albany,75,US,1583520034,42,42.6,-73.97,282.15,2.21',
 'esperance,67,AU,1583520034,88,-33.87,121.9,290.15,5.1',
 'bluff,95,NZ,1583520034,77,-46.6,168.33,286.48,1.34',
 'chalmette,1,US,1583520034,23,29.94,-89.96,292.59,3.6',
 'vila,40,PT,1583520034,62,42.03,-8.16,287.04,4.1',
 'ushuaia,75,AR,1583519831,63,-54.8,-68.3,289.15,2.1',
 'kirtipur,75,NP,1583520034,71,27.67,85.28,284.15,2.1',
 'vanimo,100,PG,1583520034,84,-2.67,141.3,300.01,5.95',
 'resistencia,28,AR,1583519760,20,-27.46,-58.98,308.15,1',
 'cherskiy,90,RU,1583520035,100,68.75,161.3,246.21,1.1',
 'pierre,1,US,1583520035,42,44.37,-100.35,282.15,9.3',
 'yellowknife,20,CA,1583520035,51,62.46,-114.35,247.59,3.6',
 'vaini,75,TO,1583520035,94,-21.2,-175.2,296.15,1.5',
 'jurado,42,CO,1583520035,81,7.11,-77.76,300.01,6.06',
 'cuetzalan,90,MX,1583520035,60,20.03,-97.52,296.15,5.1',
 'lorengau,98,PG,1583520035,76,-2.02,147.27,302.51,4.78',
 'chuy,68,UY,1583520035,56,-33.7,-53.46,298.71,4.76',
 'christchurch,100,NZ,1583519995,82,-43.53,172.63,288.71,5.1',
 'nikolskoye,75,RU,1583520035,80,59.7,30.79,274.15,3',
 'cape town,99,ZA,1583519775,60,-33.93,18.42,302.04,2.6',
 'xuddur,70,SO,1583520035,31,4.12,43.89,302.51,7.09']

In [98]:
df1=pd.DataFrame(report)

df1['City']=cities
df1['Cloudiness']=clouds
df1['Country']=country
df1['Date']=date
df1['Humidity']=humidity
df1['Lat']=lat
df1['Lon']=lng
df1['Max Temp']=max_temp
df1['Wind Speed']=wind_speed
del df1[0]
df1

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,padang,81,ID,1583520016,90,-0.95,100.35,293.01,1.62
1,san patricio,40,MX,1583520033,79,19.22,-104.70,302.15,10.30
2,port blair,4,IN,1583520033,80,11.67,92.75,300.11,4.58
3,tottori,46,JP,1583520034,68,35.50,134.23,276.71,1.71
4,hilo,40,US,1583519927,73,19.73,-155.09,296.15,2.10
5,shihezi,96,CN,1583520034,82,44.30,86.03,275.61,2.73
6,punta arenas,75,CL,1583520034,76,-53.15,-70.92,291.15,5.70
7,albany,75,US,1583520034,42,42.60,-73.97,282.15,2.21
8,esperance,67,AU,1583520034,88,-33.87,121.90,290.15,5.10
9,bluff,95,NZ,1583520034,77,-46.60,168.33,286.48,1.34
10,chalmette,1,US,1583520034,23,29.94,-89.96,292.59,3.60
11,vila,40,PT,1583520034,62,42.03,-8.16,287.04,4.10
12,ushuaia,75,AR,1583519831,63,-54.80,-68.30,289.15,2.10
13,kirtipur,75,NP,1583520034,71,27.67,85.28,284.15,2.10
14,vanimo,100,PG,1583520034,84,-2.67,141.30,300.01,5.95
15,resistencia,28,AR,1583519760,20,-27.46,-58.98,308.15,1.00
16,cherskiy,90,RU,1583520035,100,68.75,161.30,246.21,1.10
17,pierre,1,US,1583520035,42,44.37,-100.35,282.15,9.30
18,yellowknife,20,CA,1583520035,51,62.46,-114.35,247.59,3.60
19,vaini,75,TO,1583520035,94,-21.20,-175.20,296.15,1.50
20,jurado,42,CO,1583520035,81,7.11,-77.76,300.01,6.06
21,cuetzalan,90,MX,1583520035,60,20.03,-97.52,296.15,5.10
22,lorengau,98,PG,1583520035,76,-2.02,147.27,302.51,4.78
23,chuy,68,UY,1583520035,56,-33.70,-53.46,298.71,4.76
24,christchurch,100,NZ,1583519995,82,-43.53,172.63,288.71,5.10
25,nikolskoye,75,RU,1583520035,80,59.70,30.79,274.15,3.00
26,cape town,99,ZA,1583519775,60,-33.93,18.42,302.04,2.60
27,xuddur,70,SO,1583520035,31,4.12,43.89,302.51,7.09

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot

## Linear Regression

In [ ]:
# OPTIONAL: Create a function to create Linear Regression plots

In [ ]:
# Create Northern and Southern Hemisphere DataFrames

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression