# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
#RESET TO SIZE=1500 BEFORE FINAL COMMIT
lats = np.random.uniform(low=-90.000, high=90.000, size=30)
lngs = np.random.uniform(low=-180.000, high=180.000, size=30)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

28

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [46]:
url = "http://api.openweathermap.org/data/2.5/weather?"
coord=[]
clouds=[]
# Make a request for each of the indices

for x in range(len(cities)):
    print(f"Making request number: {x} for ID: {cities[x]}")
    

    # Get one of the posts
    weather_response = requests.get(url + "q=" + str(cities[x]) +  "&APPID=" + weather_api_key).json()
    coord.append(weather_response['coord'])
    clouds.append(weather_response['clouds']['all'])
report_list=zip(coord,clouds)

Making request number: 0 for ID: padang
Making request number: 1 for ID: san patricio
Making request number: 2 for ID: port blair
Making request number: 3 for ID: tottori
Making request number: 4 for ID: hilo
Making request number: 5 for ID: shihezi
Making request number: 6 for ID: punta arenas
Making request number: 7 for ID: albany
Making request number: 8 for ID: esperance
Making request number: 9 for ID: bluff
Making request number: 10 for ID: chalmette
Making request number: 11 for ID: vila
Making request number: 12 for ID: ushuaia
Making request number: 13 for ID: kirtipur
Making request number: 14 for ID: vanimo
Making request number: 15 for ID: resistencia
Making request number: 16 for ID: cherskiy
Making request number: 17 for ID: pierre
Making request number: 18 for ID: yellowknife
Making request number: 19 for ID: vaini
Making request number: 20 for ID: jurado
Making request number: 21 for ID: cuetzalan
Making request number: 22 for ID: lorengau
Making request number: 23 for ID: chuy
Making request number: 24 for ID: christchurch
Making request number: 25 for ID: nikolskoye
Making request number: 26 for ID: cape town
Making request number: 27 for ID: xuddur

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [47]:
report=[''.join(map(str, i)) for i in zip(coord, clouds)]

In [48]:
df1=pd.DataFrame(report)

df1['Cloudiness']=clouds
df1['City']=cities
df1

                                    0  Cloudiness          City
0     {'lon': 100.35, 'lat': -0.95}81          81        padang
1     {'lon': -104.7, 'lat': 19.22}40          40  san patricio
2       {'lon': 92.75, 'lat': 11.67}4           4    port blair
3      {'lon': 134.23, 'lat': 35.5}46          46       tottori
4    {'lon': -155.09, 'lat': 19.73}75          75          hilo
5       {'lon': 86.03, 'lat': 44.3}96          96       shihezi
6    {'lon': -70.92, 'lat': -53.15}75          75  punta arenas
7      {'lon': -73.97, 'lat': 42.6}40          40        albany
8     {'lon': 121.9, 'lat': -33.87}67          67     esperance
9     {'lon': 168.33, 'lat': -46.6}95          95         bluff
10     {'lon': -89.96, 'lat': 29.94}1           1     chalmette
11     {'lon': -8.16, 'lat': 42.03}20          20          vila
12    {'lon': -68.3, 'lat': -54.8}100         100       ushuaia
13     {'lon': 85.28, 'lat': 27.67}20          20      kirtipur
14    {'lon': 141.3, 'lat': -2.67}100         100        vanimo
15   {'lon': -58.98, 'lat': -27.46}28          28   resistencia
16     {'lon': 161.3, 'lat': 68.75}90          90      cherskiy
17    {'lon': -100.35, 'lat': 44.37}1           1        pierre
18   {'lon': -114.35, 'lat': 62.46}20          20   yellowknife
19    {'lon': -175.2, 'lat': -21.2}75          75         vaini
20     {'lon': -77.76, 'lat': 7.11}42          42        jurado
21    {'lon': -97.52, 'lat': 20.03}90          90     cuetzalan
22    {'lon': 147.27, 'lat': -2.02}98          98      lorengau
23    {'lon': -53.46, 'lat': -33.7}68          68          chuy
24  {'lon': 172.63, 'lat': -43.53}100         100  christchurch
25      {'lon': 30.79, 'lat': 59.7}75          75    nikolskoye
26    {'lon': 18.42, 'lat': -33.93}99          99     cape town
27      {'lon': 43.89, 'lat': 4.12}70          70        xuddur

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot

## Linear Regression

In [ ]:
# OPTIONAL: Create a function to create Linear Regression plots

In [ ]:
# Create Northern and Southern Hemisphere DataFrames

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression